:root {
  --ar-lv1-base-color: inherit;
  --ar-lv1-ruby-color: inherit;
  --ar-lv1-ruby-size: 50%;
  --ar-lv1-ruby-position: over;
  --ar-lv1-ruby-relative-offset: 0.2;
  --ar-lv1-ruby-distribution: space-around;
  --ar-lv2-base-color: inherit;
  --ar-lv2-ruby-color: inherit;
  --ar-lv2-ruby-size: 50%;
  --ar-lv2-ruby-position: under;
  --ar-lv2-ruby-relative-offset: -0.2;
  --ar-lv2-ruby-distribution: center;
}

.markdown-source-view,
.markdown-preview-view {
  & ruby {
    &.ar-lv1 {
      color: var(--ar-lv1-base-color);
      ruby-position: var(--ar-lv1-ruby-position);
      > rt {
        color: var(--ar-lv1-ruby-color);
        font-size: var(--ar-lv1-ruby-size);
        bottom: var(--ar-lv1-ruby-relative-offset);
        ruby-align: var(--ar-lv1-ruby-distribution);
      }
    }
    &.ar-lv2 {
      color: var(--ar-lv2-base-color);
      ruby-position: var(--ar-lv2-ruby-position);
      > rt {
        color: var(--ar-lv2-ruby-color);
        font-size: var(--ar-lv2-ruby-size);
        bottom: var(--ar-lv2-ruby-relative-offset);
        ruby-align: var(--ar-lv2-ruby-distribution);
      }
    }
  }
}
